*{
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

body{
  background-color: #F0EAD2;
  width: 1200px;
  margin: 0 auto;
}

h1{
  font-size: 70px;
  text-align: center;
  color: black;
}

#topNav{
  margin-top: 10px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  text-shadow: rgba(50, 50, 50, 0.5);
  background-color: rgba(50, 50, 50, 0.5);
  box-shadow: 2px 2px 2px gray;
  border-radius: 5px;
}

header li {
  display: inline-block;
}

header li a {
  display: inline-block;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
}

li a:hover {
  background-color: #111;
  color: white;
}

main{
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  text-align: center;
  border:rgba(50, 50, 50, 0.5) 1px solid;
  box-shadow: 0px 0px 4px gray;
  border-radius: 5px;
}

article {
  display: inline-block;
  width: 350px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.aboutusimg {
  width: 300px;
  border-radius: 50px;
}

.aboutush2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
}

h2{
  margin-top: 10px;
}

#namedisplay{
  font-size: 20px;
}