*{
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

body{
  background-color: #F0EAD2;
  width: 1200px;
  margin: 0 auto;
}

h1{
  font-size: 70px;
  text-align: center;
  color: black;
}

#topNav{
  margin-top: 10px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  text-shadow: rgba(50, 50, 50, 0.5);
  background-color: rgba(50, 50, 50, 0.5);
  box-shadow: 2px 2px 2px gray;
  border-radius: 5px;
}

header li {
  display: inline-block;
}

header li a {
  display: inline-block;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
}

li a:hover {
  background-color: #111;
  color: white;
}

main{
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  text-align: center;
  border:rgba(50, 50, 50, 0.5) 1px solid;
  box-shadow: 0px 0px 4px gray;
  border-radius: 5px;
}

#phImgs > img{
  width: 240px;
  height: 180px;
  border-radius: 5px;
}

#resultSpot li{
  list-style-type: none;
}

fieldset {
  width: 50%;
  border-radius: 5px;
  background-color: #fffbeb; 
  border: 1px solid gray;
  font-family: Helvetica;
  box-shadow: 0px 0px 4px gray;
}

legend {
  background-color: #fffbeb;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 8px;
  box-shadow: 0px 0px 4px gray;
}

button {
  background-color: #F0EAD2;
  border-radius: 5px;
  padding: 5px;
  margin: 5px; 
}

#namedisplay{
  font-size: 20px;

}